<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load widget_tweaks %}
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}" />
    <script src="{% static 'js/total.js' %}"></script>
</head>
<body style="background-color:azure">
<div class="container">
    <div class="row">
        <div class="col-md-12 header">
            <h2 class="text-center white-color">Govt. Polytechnic collage Sanawad</h2>
            <h3 class="text-center white-color">Exam Hall Allotment System.</h3>
            <input type=button value="Previous Page" class="btn btn-danger pull-left" onClick="javascript:history.go(-1);">
            <a href="/account/home" type="button" class="btn btn-success" style="margin-left:450px">Home</a>
            <a href="/account/logout" class="btn btn-success pull-right">Logout</a>
        </div>
    </div>
    {% block content %}
    This is block content
    {% endblock %}
<script>
function submitResult() {
   if ( confirm("Are you sure you wish to delete?") == false ) {
      return false ;
   } else {
      return true ;
   }
}</script>
</div>
</body>
</html>