{% extends 'base.html' %}
{% block content %}
{% load widget_tweaks %}
<div class="col-md-3 header1">
    <h2>Data Sheet Upload </h2>
    <form method="POST" name="uploadform" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
             <label>Select Session</label>
             {{ form.sessionmonth|add_class:"form-control"}}
        </div>
        <div class="form-group">
            <label>Select Year</label>
            {{ form.year|add_class:"form-control"}}
        </div>
        <div class="form-group">
            <label> Upload Data File</label>
            {{ form.file|add_class:"form-control"}}
        </div>
        <div class="form-group">
            <label> Upload Time Table</label>
            {{ form.ttfile|add_class:"form-control"}}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<div class="col-md-6 pull-right header1">
    <h2>Upload Record</h2>
    <table>
            {% for item in alldata %}
            <tr>
                <td>{{ item.sessionmonth }}</td>
                <td>{{ item.year }}</td>
                <td>
                    <form action="{% url 'delete_record' item.id %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="file" value="{{ item.file}}">
                        <input type="hidden" name="ttfile" value="{{ item.ttfile}}">
                        <input type="submit" value="Delete cat">
                    </form>
                </td>
            </tr>
            {% endfor %}
    </table>
</div>
{% endblock %}